#TopImg {
  position: relative;
  background: black;
  min-height: 500px;
  height: 100vh;
  // color: white;
  background: linear-gradient(135deg, rgba(0, 0, 0, .2) 0, #002d77 100%);
  background-image: linear-gradient(135deg, rgba(0, 0, 0, .2) 0, #000 100%), url("https://kearneyculinary.com/app/uploads/2017/11/Prime-Rib.jpg");
  background-position: center;
  background-size: cover;

  .title {
    padding: 200px 0 30px;
    text-align: right;

    h1 {
      font-family: $displayFont;
      text-transform: uppercase;
      color: white;
      font-weight: 300;
      font-size: 4rem;
    }

    h5 {
      text-transform: uppercase;
      color: white;
      font-weight: 300;
      margin-bottom: 15px;
    }
  }

  .contact-info {
    width: 100%;
    position: absolute;
    bottom: 50px;
    right: 0;
    text-align: right;
    color: white;
    font-size: .8rem;
    line-height: 1.5rem;

    strong {
      font-weight: bold;
    }
    .booking {
      margin-bottom: 10px;
    }
    h2 {
      font-size: 2rem;
      margin-bottom: 10px;
      color: $titleColor;
    }
  }
}










// may need to change h1 width in title

/*
SOURCES:
https://kearneyculinary.com/app/uploads/2017/11/Prime-Rib.jpg
*/
